body{
  margin: 0px;
  background-color:whitesmoke;
  margin-bottom: -100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Raleway';font-size: 22px;
  font-weight: bold;
}
main{
  margin-left: 20px;
  margin-right: 20px;
  /*margin-bottom: 100px;*/
}
header img{
  width: 100%;
  height: 150%;
  object-fit: cover;
}

.navbar {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center elements horizontally */
}
.header {
	padding-top: 50px;
}

.navbar a{
  color: #191970;
  justify-content: center;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  border-radius: 5px;

}
.navbar a:hover{
  background-color: #AFDEFF;
}
.navbar li{
  float: left;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #A7C7E7;
  position: fixed;
  top: 0;
  width: 100%;
}

.active {
  background-color: #04AA6D;
}


/* Donate Button*/

.donate-button {
  background-color: #325680;
  border: 1px solid #325680;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.donate-button:hover {
  background-color: #1a3a80;
  transition: all 0.32s ease 0s;
}

/* External Link Button */
.button-external{
  background-color: blue; 
  color: white; 
  font-size: 16px; 
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); 
  transition: all 0.2s ease-in-out;
}

/* Headers */

h1, h2, h3 {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 47px;
  font-weight: bold;
  margin-top: -1;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.picture2 {
  width: auto;
  height: 100px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  background-color: #A7C7E7;
  color: black;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer {
  flex: none;
}

/* ACCORDION STYLE*/

.accordion {
  margin: 60px auto;
  width: 600px;

}

.accordion li{
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: whitesmoke;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.15);
}

.accordion li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before {
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="checkbox"] {
  display: none;
}

.accordion .content {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  padding: 0 10px;
  line-height: 26px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="checkbox"]:checked+label+.content {
  max-height: 400px;
  padding: 10px 10px 20px;
  background-color:whitesmoke;
}

.accordion input[type="checkbox"]:checked+label::before{
  content: '-';
}

.answer {
  background-color:#A7C7E7;
}

.flex-item{
  display: flex;
  width: calc(50%-2em);
  margin: 1em;
  box-sizing: border-box;
}


img{
  max-width: 100%;
  max-height: 100%;
}